*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Color variables */
/* Color variables */
html {
  font-size: 62.5%;
}

@media screen and (max-width: 1300px) {
  html {
    font-size: 59.5%;
  }
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 58.5%;
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 57.5%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 55.5%;
  }
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  /*  background-color: $greyBlue; */
  background: -webkit-gradient(linear, left top, right top, from(#0f2027), color-stop(#203a43), to(#2c5364));
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  overflow-x: hidden;
  -webkit-font-smoothing: antialised;
}

.header {
  width: 100%;
  min-height: 7rem;
  background-color: #f53240;
  -webkit-box-shadow: 0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.7rem 0.7rem;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: fixed;
  z-index: 1400;
}

@media only screen and (max-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 20rem;
    -webkit-transform: translateY(-105%);
            transform: translateY(-105%);
  }
}

.header__logo {
  font-size: 3.6rem;
  margin-left: 2rem;
  position: relative;
  z-index: 2;
  -webkit-transform: skew(-7deg);
          transform: skew(-7deg);
  background: #f5f5f5;
  text-transform: uppercase;
}

.header__logo a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #f53240;
}

.header__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}

.header__number {
  list-style: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__icon {
  font-size: 3rem;
  color: #f5f5f5;
  margin-left: 2.5rem;
}

.header__link-number {
  font-size: 2.4rem !important;
  color: #f53240 !important;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  text-decoration: none !important;
  text-align: center;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1rem;
  padding: 0 1.2rem;
  -webkit-animation: number 1.5s infinite ease-in-out forwards;
          animation: number 1.5s infinite ease-in-out forwards;
  min-height: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
}

@media only screen and (max-width: 992px) {
  .header__link-number {
    -webkit-animation: none;
            animation: none;
  }
}

.header__link:link, .header__link:visited {
  min-height: 3.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
  padding: 0 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
  color: #f5f5f5;
  border-radius: 0.3rem;
  outline: none;
}

.header__link:link:hover, .header__link:visited:hover {
  text-decoration: underline;
}

.menu-container {
  display: none;
}

.header .current {
  background-color: #f5f5f5;
  color: #f53240;
}

.menu__span {
  display: none;
}

@media only screen and (max-width: 768px) {
  .active-header-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 20rem;
    position: fixed;
    z-index: 1500;
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
  }
  .menu-container {
    width: 100%;
    height: 7rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f53240;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    z-index: 3000;
  }
  .menu {
    width: 10rem;
    height: 5rem;
    z-index: 2000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    outline: none;
    margin-right: 1rem;
    border: 1px solid #f5f5f5;
    padding: 0.5rem;
    border-radius: 0.3rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu__span {
    display: block;
    margin-right: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    color: #e3e2df;
  }
  .menu__one {
    width: 3rem;
    height: 0.4rem;
    background-color: #e3e2df;
    position: relative;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu__one::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 1rem;
    background-color: #e3e2df;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu__one::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -1rem;
    background-color: #e3e2df;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu__two {
    width: 3rem;
    height: 0.4rem;
    background-color: transparent;
    position: relative;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu__two::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0rem;
    background-color: #f5f5f5;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .menu__two::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0rem;
    background-color: #f5f5f5;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}

.banner {
  width: 100vw;
  margin: 0rem auto;
  background-color: #f5f5f5;
}

@media only screen and (max-width: 768px) {
  .banner {
    padding-top: 8rem;
  }
}

.banner__header-container {
  min-height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner__header {
  text-align: center;
  font-size: 3.8rem;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.2rem;
  color: #05486b;
  margin-top: 15rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .banner__header {
    font-size: 3.2rem;
  }
}

.banner__paragraph {
  font-size: 3.3rem;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1rem;
  color: #05486b;
  text-align: center;
  margin-top: 1.5rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .banner__paragraph {
    font-size: 2.6rem;
  }
}

.banner__underline {
  width: 80%;
  height: 0.2rem;
  background-color: #e3e2df;
  margin: 3rem 0;
}

.banner__info {
  width: 30rem;
}

.banner__text {
  font-size: 2.4rem;
  color: #05486b;
  line-height: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@-webkit-keyframes number {
  0% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  50% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
  }
  100% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

@keyframes number {
  0% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
  50% {
    -webkit-transform: scale(0.99);
            transform: scale(0.99);
  }
  100% {
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
  }
}

.slider {
  width: 100%;
}

.galleryContainer {
  width: 100%;
  height: 80rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0 auto;
}

.galleryContainer .slideShowContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: gainsboro;
  position: relative;
}

.galleryContainer .slideShowContainer .imageHolder {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.galleryContainer .slideShowContainer .imageHolder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.galleryContainer .slideShowContainer .leftArrow,
.galleryContainer .slideShowContainer .rightArrow {
  width: 50px;
  background-color: #00000036;
  position: absolute;
  left: 0;
  z-index: 500;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  height: 72px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.galleryContainer .slideShowContainer .rightArrow {
  left: auto;
  right: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.galleryContainer .slideShowContainer .leftArrow:hover,
.galleryContainer .slideShowContainer .rightArrow:hover {
  background-color: #000000a8;
  cursor: pointer;
}

.galleryContainer .slideShowContainer .arrow {
  display: inline-block;
  border: 3px solid white;
  width: 10px;
  height: 10px;
  border-left: none;
  border-bottom: none;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.galleryContainer .slideShowContainer .arrow.arrowLeft {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.galleryContainer .slideShowContainer .arrow.arrowRight {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.galleryContainer .slideShowContainer > .captionHolder {
  position: absolute;
  bottom: 0;
  z-index: 1;
  color: white;
  font-family: sans-serif;
  font-size: 2.1rem;
  text-align: left;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.678);
  height: 350px;
  line-height: 25px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.galleryContainer .slideShowContainer > .captionHolder > .captionText {
  margin: 0;
}

.galleryContainer .slideShowContainer #playPauseBtn {
  width: 32px;
  height: 32px;
  position: absolute;
  z-index: 5;
  margin: 5px;
  cursor: pointer;
  background-image: url("../../img/playPause.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -33px;
}

.galleryContainer #dotsContainer {
  width: 100%;
  height: 10%;
  text-align: center;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.galleryContainer #dotsContainer .dots {
  display: inline-block;
  width: 40px;
  height: 9px;
  border-radius: 0.5rem;
  margin-left: 13px;
  background-color: #bbb;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  opacity: 0.6;
}

.galleryContainer #dotsContainer .dots:first-child {
  margin-left: 0;
}

.galleryContainer #dotsContainer .dots:hover,
.galleryContainer #dotsContainer .dots.active {
  background-color: #f5f5f5;
  opacity: 1;
}

.galleryContainer .moveLeftCurrentSlide {
  -webkit-animation-name: moveLeftCurrent;
          animation-name: moveLeftCurrent;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.galleryContainer .moveLeftNextSlide {
  -webkit-animation-name: moveLeftNext;
          animation-name: moveLeftNext;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes moveLeftCurrent {
  from {
    margin-left: 0;
    opacity: 1;
  }
  to {
    margin-left: -100%;
    opacity: 1;
  }
}

@keyframes moveLeftCurrent {
  from {
    margin-left: 0;
    opacity: 1;
  }
  to {
    margin-left: -100%;
    opacity: 1;
  }
}

@-webkit-keyframes moveLeftNext {
  from {
    margin-left: 100%;
    opacity: 1;
  }
  to {
    margin-left: 0%;
    opacity: 1;
  }
}

@keyframes moveLeftNext {
  from {
    margin-left: 100%;
    opacity: 1;
  }
  to {
    margin-left: 0%;
    opacity: 1;
  }
}

.galleryContainer .moveRightCurrentSlide {
  -webkit-animation-name: moveRightCurrent;
          animation-name: moveRightCurrent;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes moveRightCurrent {
  from {
    margin-left: 0%;
    opacity: 1;
  }
  to {
    margin-left: 100%;
    opacity: 1;
  }
}

@keyframes moveRightCurrent {
  from {
    margin-left: 0%;
    opacity: 1;
  }
  to {
    margin-left: 100%;
    opacity: 1;
  }
}

.galleryContainer .moveRightNextSlide {
  -webkit-animation-name: moveRightNext;
          animation-name: moveRightNext;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes moveRightNext {
  from {
    margin-left: -100%;
    opacity: 1;
  }
  to {
    margin-left: 0%;
    opacity: 1;
  }
}

@keyframes moveRightNext {
  from {
    margin-left: -100%;
    opacity: 1;
  }
  to {
    margin-left: 0%;
    opacity: 1;
  }
}

.slideTextFromBottom {
  -webkit-animation-name: slideTextFromBottom;
          animation-name: slideTextFromBottom;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@-webkit-keyframes slideTextFromBottom {
  from {
    opacity: 0;
    margin-top: 100px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes slideTextFromBottom {
  from {
    opacity: 0;
    margin-top: 100px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

.slideTextFromTop {
  -webkit-animation-name: slideTextFromTop;
          animation-name: slideTextFromTop;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@-webkit-keyframes slideTextFromTop {
  from {
    opacity: 0;
    margin-top: -100px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes slideTextFromTop {
  from {
    opacity: 0;
    margin-top: -100px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

.captionText {
  width: 100% !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  padding: 2rem !important;
}

h1 {
  margin-bottom: 1rem;
}

.slider__icon {
  color: red !important;
}

.contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__container {
  width: 95%;
  min-height: 90vh;
  background: #ededdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5rem;
  margin-top: 6rem;
}

@media screen and (max-width: 992px) {
  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact__form-container {
  width: 65%;
  min-height: 65rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.8rem;
}

@media screen and (max-width: 992px) {
  .contact__form-container {
    width: 100%;
  }
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0rem 3rem;
  margin-top: 1.5rem;
}

.contact__form-label {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2rem;
  color: #333;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

@media screen and (max-width: 992px) {
  .contact__form-label {
    width: 100%;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  .contact__form-label {
    font-size: 1.7rem;
  }
}

.contact__form-input {
  width: 100%;
  height: 7rem;
  border-radius: 0.3rem;
  border: 1px solid #333;
  outline: none;
  color: #333;
  font-size: 1.9rem;
  text-indent: 1.2rem;
}

@media screen and (max-width: 992px) {
  .contact__form-input {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 768px) {
  .contact__form-input {
    font-size: 1.6rem;
  }
}

.contact__form-input::-webkit-input-placeholder {
  font-size: 1.7rem;
  color: #333;
  opacity: 0.8;
}

.contact__form-input:-ms-input-placeholder {
  font-size: 1.7rem;
  color: #333;
  opacity: 0.8;
}

.contact__form-input::-ms-input-placeholder {
  font-size: 1.7rem;
  color: #333;
  opacity: 0.8;
}

.contact__form-input::placeholder {
  font-size: 1.7rem;
  color: #333;
  opacity: 0.8;
}

@media screen and (max-width: 992px) {
  .contact__form-input::-webkit-input-placeholder {
    font-size: 1.5rem;
  }
  .contact__form-input:-ms-input-placeholder {
    font-size: 1.5rem;
  }
  .contact__form-input::-ms-input-placeholder {
    font-size: 1.5rem;
  }
  .contact__form-input::placeholder {
    font-size: 1.5rem;
  }
}

.contact__form-submit {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  font-size: 2.2rem;
  background-color: #32425f;
  padding: 1.2rem 1.5rem;
  border: none;
  border-radius: 0.3rem;
  color: #f5f5f5;
  text-align: center;
  display: block;
  -webkit-box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 2rem;
}

@media screen and (max-width: 992px) {
  .contact__form-submit {
    width: 100%;
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .contact__form-submit {
    font-size: 1.9rem;
  }
}

.contact__form-submit:hover {
  background-color: #192231;
}

@media screen and (max-width: 768px) {
  .contact__form-submit:hover {
    background-color: #32425f;
  }
}

.contact__form-alert {
  text-align: center;
  color: red;
  margin-top: 1.5rem;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.contact__address-container {
  width: 35%;
  min-height: 73rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-left: 0.2rem solid #e3e2df;
}

@media screen and (max-width: 992px) {
  .contact__address-container {
    width: 95%;
    border: none;
  }
}

.contact__secondary {
  font-family: "Oswald", sans-serif;
  font-size: 2.7rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  background-color: #f53240;
  padding: 1.5rem 1.2rem;
  border-radius: 0.3rem;
  color: #f5f5f5;
  text-align: center;
  margin: 0 1.5rem;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0.4rem 0.7rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.4rem 0.7rem rgba(0, 0, 0, 0.5);
  display: block;
}

@media screen and (max-width: 992px) {
  .contact__secondary {
    width: 100%;
    font-size: 2.3rem;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .contact__secondary {
    font-size: 2rem;
  }
}

.contact__info {
  margin-left: 1.2rem;
  padding: 0 1.4rem;
}

.contact__ternary {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  font-size: 2.3rem;
  color: #36486b;
  border-bottom: 0.1rem solid #364836;
  text-transform: uppercase;
}

@media screen and (max-width: 992px) {
  .contact__ternary {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  .contact__ternary {
    font-size: 1.7rem;
  }
}

.contact__text {
  font-size: 1.6rem;
  color: #36486b;
  text-transform: uppercase;
}

.contact__info--contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__message:link, .contact__message:visited {
  text-decoration: none;
  font-size: 2.4rem;
  background-color: #32425f;
  padding: 1.2rem 1.5rem;
  border-radius: 0.3rem;
  color: #f5f5f5;
  text-align: center;
  margin: 1.2rem 0;
  display: block;
  -webkit-box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.4);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

@media screen and (max-width: 992px) {
  .contact__message:link, .contact__message:visited {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 768px) {
  .contact__message:link, .contact__message:visited {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .contact__message:link:hover, .contact__message:visited:hover {
    background-color: #32425f;
  }
}

.contact__icon {
  margin: 0 0.8rem;
}

@media screen and (max-width: 992px) {
  .contact__underline {
    width: 90%;
    height: 0.2rem;
    background-color: #e3e2df;
    margin: 6rem 0;
  }
}

@media screen and (max-width: 992px) and (max-width: 768px) {
  .contact__underline {
    margin: 4.5rem 0;
  }
}

.locations {
  width: 100%;
  margin-top: 8rem;
}

.locations__info {
  width: 95%;
  margin: 0rem auto;
  background: #ededdc;
  padding: 1.2rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0.5rem 0.7rem 1rem rgba(0, 0, 0, 0.35);
          box-shadow: 0.5rem 0.7rem 1rem rgba(0, 0, 0, 0.35);
}

.locations__icon {
  margin: 0 0.4rem;
  font-size: 3rem;
  color: #f53240;
}

@media screen and (max-width: 768px) {
  .locations__icon {
    font-size: 1.8rem;
    margin: 0 0.2rem;
  }
}

.locations__quaternary {
  color: #05486b;
  font-weight: 400;
  font-size: 3.2rem;
  text-align: center;
  margin: 5rem 0;
}

@media screen and (max-width: 992px) {
  .locations__quaternary {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 768px) {
  .locations__quaternary {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .locations__quaternary {
    font-size: 1.8rem;
  }
}

.locations__paragraph {
  color: #05486b;
  font-size: 2.3rem;
  text-align: center;
  margin-bottom: 4rem;
}

@media screen and (max-width: 992px) {
  .locations__paragraph {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .locations__paragraph {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 600px) {
  .locations__paragraph {
    font-size: 1.6rem;
  }
}

.locations__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60rem;
}

@media screen and (max-width: 992px) {
  .locations__message {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.locations__number:link, .locations__number:visited {
  color: #f5f5f5;
  text-decoration: none;
  margin: 2rem auto;
  font-size: 2.2rem;
  width: 25rem;
  display: block;
  padding: 0.8rem 1rem;
  background-color: #f53240;
  text-align: center;
}

.locations__number:link:hover, .locations__number:visited:hover {
  background: #8b161e;
}

@media screen and (max-width: 768px) {
  .locations__number:link:hover, .locations__number:visited:hover {
    background-color: #f53240;
  }
}

@media screen and (max-width: 992px) {
  .locations__number:link, .locations__number:visited {
    display: block;
    width: 100%;
    margin: 1rem auto;
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .locations__number:link, .locations__number:visited {
    display: block;
    width: 100%;
    font-size: 1.8rem;
  }
}

.locations__email {
  width: 33rem !important;
  margin: 0 0.8rem;
}

@media screen and (max-width: 992px) {
  .locations__email {
    width: 100% !important;
  }
}

.locations__container {
  width: 95%;
  min-height: 100vh;
  background: #ededdc;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.locations__container--2 {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.locations__location {
  width: 50%;
}

.locations__border {
  border-right: 1px solid #c2c2c2;
}

.locations__ternary {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding: 1.7rem 0.3rem;
  color: #05486b;
  border-top: 1px solid #c2c2c2;
}

@media screen and (max-width: 992px) {
  .locations__ternary {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 768px) {
  .locations__ternary {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .locations__ternary {
    font-size: 1.8rem;
  }
}

.locations__text {
  font-size: 2rem;
  border-top: 1px solid #c2c2c2;
  padding: 1.5rem;
  color: #333;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
}

@media screen and (max-width: 992px) {
  .locations__text {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  .locations__text {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 600px) {
  .locations__text {
    font-size: 1.4rem;
  }
}

.locations__text:last-child {
  border-bottom: 1px solid #c2c2c2;
}

.locations__text:hover {
  background-color: #b9b9b9;
}

@media screen and (max-width: 768px) {
  .locations__text:hover {
    background-color: transparent;
  }
}

.locations__link:link, .locations__link:visited {
  font-size: 2rem;
  border-top: 1px solid #c2c2c2;
  padding: 1.5rem;
  color: #333;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 0.1s ease-in;
  transition: background-color 0.1s ease-in;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 992px) {
  .locations__link:link, .locations__link:visited {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  .locations__link:link, .locations__link:visited {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 600px) {
  .locations__link:link, .locations__link:visited {
    font-size: 1.4rem;
  }
}

.locations__link:link:hover, .locations__link:visited:hover {
  text-decoration: underline;
}

.footer {
  width: 100%;
  background: #242424;
  margin-top: 3rem;
}

.footer__advantages {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 30vh;
}

.footer__header {
  font-size: 2.4rem;
  font-weight: 400;
  color: #f5f5f5;
  margin-bottom: 1.6rem;
}

.footer__icons {
  margin-right: 1rem;
}

.footer__advantage {
  color: #89a789;
}

.footer__copyright {
  width: 100%;
  height: 8rem;
  background: #ededdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__copy {
  color: #4a574a;
  font-size: 1.8rem;
}
/*# sourceMappingURL=main.css.map */