.banner {
  width: 100vw;
  margin: 0rem auto;
  background-color: $white;
  padding: 0 0.5rem;

  @media only screen and (max-width: 768px) {
    padding-top: 8rem;
  }

  &__header-container {
    min-height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__header {
    text-align: center;
    font-size: 3.8rem;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.2rem;
    color: $deepSky-blue;
    margin-top: 15rem;
    text-transform: uppercase;

    @media only screen and (max-width: 768px) {
      font-size: 2.4rem;
    }
  }

  &__paragraph {
    font-size: 3.3rem;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.1rem;
    color: $deepSky-blue;
    text-align: center;
    margin-top: 1.5rem;
    text-transform: uppercase;

    @media only screen and (max-width: 768px) {
      font-size: 2rem;
    }
  }

  &__underline {
    width: 80%;
    height: 0.2rem;
    background-color: $light-grey;
    margin: 3rem 0;
  }

  &__info {
    width: 30rem;
  }

  &__text {
    font-size: 2.4rem;
    color: $deepSky-blue;
    line-height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
