.footer {
  width: 100%;
  background: rgb(36, 36, 36);
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 3rem;
  position: relative;

  &__advantages {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 30vh;

    @media only screen and (max-width: 992px) {
      min-height: 37vh;
    }
  }

  &__header {
    font-size: 2.4rem;
    font-weight: 400;
    color: $white;
    margin-bottom: 1.6rem;

    @media only screen and (max-width: 992px) {
      text-align: center;
      font-size: 1.9rem;
    }

    @media only screen and (max-width: 600px) {
      font-size: 1.7rem;
    }
  }

  &__icons {
    margin-right: 1rem;
  }

  &__advantage {
    color: rgb(137, 167, 137);
    @media only screen and (max-width: 992px) {
      font-size: 1.5rem;
    }
    @media only screen and (max-width: 600px) {
      font-size: 1.3rem;
    }
  }

  &__logo {
    margin-top: 3rem;
  }

  &__logoImg {
    width: 30rem;
    height: auto;

    @media only screen and (max-width: 992px) {
      width: 20rem;
    }
  }

  &__copyright {
    width: 100%;
    min-height: 8rem;
    background: #ededdc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__socialMedia {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }

  &__copy {
    color: rgb(74, 87, 74);
    font-size: 1.8rem;

    @media only screen and (max-width: 768px) {
      font-size: 1.6rem;
    }
  }
}
