.header {
  width: 100%;
  min-height: 13rem;
  background-color: $redCoral;
  box-shadow: 0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 0.7rem;
  position: relative;
  transition: all 0.3s;

  &__logo {
    font-family: "Shadows Into Light", cursive;
    font-size: 4.8rem;
    color: $white;
  }

  &__list {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
  }

  &__number {
    list-style: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__icon {
    font-size: 3.3rem;
    color: $white;
    margin-left: 2.5rem;
  }

  &__link-number {
    font-size: 2.8rem !important;
    color: $redCoral !important;
    background-color: $white;
    border-radius: 0.5rem;
    text-decoration: none !important;
    text-align: center;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.1rem;
    padding: 0 1.5rem;
    animation: number 1.5s infinite ease-in-out forwards;
    min-height: 7.2rem;
    display: flex;
    align-items: center;
  }

  &__link:link,
  &__link:visited {
    min-height: 4.3rem;
    display: flex;
    align-items: center;
    margin: 0 2rem;
    padding: 0 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.2s;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
    color: $white;
    border-radius: 0.3rem;
    &:hover {
      text-decoration: underline;
    }
  }
}

.header .current {
  background-color: $white;
  color: $redCoral;
}

/* active */
.active-header {
  min-height: 9rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
/* active */
