.header {
  width: 100%;
  min-height: 7rem;
  background-color: $redCoral;
  box-shadow: 0rem 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 0.7rem;
  position: relative;
  transition: all 0.5s;
  position: fixed;
  z-index: 1400;

  @media only screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    min-height: 20rem;
    transform: translateY(-105%);
  }

  &__logo {
    font-size: 3.6rem;
    margin-left: 2rem;
    position: relative;
    z-index: 2;
    transform: skew(-7deg);
    background: $white;
    text-transform: uppercase;

    a {
      padding: 0.5rem 1rem;
      text-decoration: none;
      color: $redCoral;
    }
  }

  &__list {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
  }

  &__number {
    list-style: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__icon {
    font-size: 3rem;
    color: $white;
    margin-left: 2.5rem;
  }

  &__link-number {
    font-size: 2.4rem !important;
    color: $redCoral !important;
    background-color: $white;
    border-radius: 0.5rem;
    text-decoration: none !important;
    text-align: center;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.1rem;
    padding: 0 1.2rem;
    animation: number 1.5s infinite ease-in-out forwards;
    min-height: 5.5rem;
    display: flex;
    align-items: center;
    outline: none;

    @media only screen and (max-width: 992px) {
      animation: none;
    }
  }

  &__link:link,
  &__link:visited {
    min-height: 3.6rem;
    display: flex;
    align-items: center;
    margin: 0 2rem;
    padding: 0 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.2s;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.1rem;
    font-size: 1.6rem;
    color: $white;
    border-radius: 0.3rem;
    outline: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.menu-container {
  display: none;
}

.header .current {
  background-color: $white;
  color: $redCoral;
}

.menu__span {
  display: none;
}

@media only screen and (max-width: 768px) {
  .active-header-phone {
    display: flex;
    flex-direction: column;
    min-height: 20rem;
    position: fixed;
    z-index: 1500;
    transform: translateY(30%);
  }

  .menu-container {
    width: 100%;
    height: 7rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $redCoral;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 3000;
  }

  .menu {
    width: 10rem;
    height: 5rem;
    z-index: 2000;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    margin-right: 1rem;
    border: 1px solid $white;
    padding: 0.5rem;
    border-radius: 0.3rem;
    transition: all 0.5s;

    &__span {
      display: block;
      margin-right: 1rem;
      font-size: 1.6rem;
      font-weight: 700;
      transition: all 0.5s;
      color: $menuColor;
    }

    &__one {
      width: 3rem;
      height: 0.4rem;
      background-color: $menuColor;
      position: relative;
      transition: all 0.5s;
    }

    &__one::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 1rem;
      background-color: $menuColor;
      transition: all 0.5s;
    }

    &__one::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: -1rem;
      background-color: $menuColor;
      transition: all 0.5s;
    }

    &__two {
      width: 3rem;
      height: 0.4rem;
      background-color: transparent;
      position: relative;
      transition: all 0.5s;
    }

    &__two::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0rem;
      background-color: $white;
      transform: rotate(45deg);
      transition: all 0.5s;
    }

    &__two::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0rem;
      background-color: $white;
      transform: rotate(-45deg);
      transition: all 0.5s;
    }
  }
}
